.fade-container {
    position:relative;
}

.fade-button{
    background-color:#fff;
    color:#fff;
    padding: 10px 20px;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
}

.fade-text {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    color:#fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .fade-container:hover .fade-button {
    opacity: 0;
  }

  .fade-container:hover .fade-text {
    opacity: 1;
  }